@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.bigTitle {
  font-family: "Lakki Reddy", cursive;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 550px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #901290;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #eb517f;
}
.content {
  max-width: 550px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.preview h2 {
  font-size: 22px;
  color: #f1356d;
  margin-bottom: 10px;
}
